<ul class="navbar-nav flex-grow-1 d-flex">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">over ons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hulpverlener" asp-action="Index">orthopedagogen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="ChatRoom">chat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="SelfHelpGroups">zelfhulpgroepen</a>
    </li>
</ul>