<ul class="navbar-nav flex-grow-1 d-flex">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Vestiging" asp-action="Index">vestigingen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Moderator"
            asp-action="hulpverlenerclientlist">hulpverleners&clienten</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hulpverlener" asp-action="CreateAccount">nieuwe
            hulpverlener</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="ChatRoom">chat</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            dashboards
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="Index">reports</a>
            <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="BlockUsers">(de)blokkeer
                gebruikers</a>
        </div>
    </li>
</ul>