
<ul class="navbar-nav flex-grow-1 d-flex">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">home</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">over ons</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ChatFrequency" asp-action="RequestFrequency">frequenties</a>
    </li>
</ul>
            