<!DOCTYPE html>
<html lang="nl">
    <head>
        <partial name="Partial/_HeadPartial"></partial>
        <link rel="stylesheet" href="~/css/Ouder.css"/>
        <title>@ViewData["Title"] - ouder</title>
    </head>
    <body>
        <partial name="Partial/Ouder/_HeaderPartial"></partial>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <partial name="Partial/_FooterPartial"></partial>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
