<footer class="border-top footer text-muted">
        <div class="container">
            <a style="display: contents;" asp-controller="Home" asp-action="Index">
                <img class="navbar-brand logo-img" src="~/img/Logo.png" alt="Logo">
            </a></br>
            @* <img alt="Afbeelding logo" class=" navbar-brand logo-img" src="~/img/Logo.png" alt=""></br> *@
            &copy;Copyright ZMDH
        </div>
</footer>