@model Report

@{
    ViewData["Title"] = "Edit";
}

<h1>Aanpassen</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isHandled" /> @Html.DisplayNameFor(model => model.isHandled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MessageId" class="control-label"></label>
                <select asp-for="MessageId" class="form-control" asp-items="ViewBag.MessageId"></select>
                <span asp-validation-for="MessageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandlerId" class="control-label"></label>
                <select asp-for="HandlerId" class="form-control" asp-items="ViewBag.HandlerId"></select>
                <span asp-validation-for="HandlerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

