div.Border{
    border: 2px solid #AB504F;
    border-radius: 8px; 
    padding: 5px;
}

.Border button {
    border-radius: 8px !important;
    background-color: #AB504F !important; 
    color: white !important;
}

a{
    color: #AB504F;
}
a:hover
{
    color: #AB504F;
}
.error
{
    color: red;
}

