@model ApplicationUserChat

@{
    ViewData["Title"] = "Edit";
}

<h1>Aanpassen</h1>

<h4>ApplicationUserChat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationUserId" />
            <div class="form-group">
                <label asp-for="ApplicationUserChatStatus" class="control-label"></label>
                <select asp-for="ApplicationUserChatStatus" class="form-control">
                    <option value="pending">Bezig met Behandelen</option>
                    <option value="active">Actief</option>
                    <option value="declined">Weiger</option>
                    <option value="blocked">Blokkeer</option>
                </select>
            </div>
            <input type="hidden" asp-for="ChatId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
